# Week 2 Day 10 Friday Main Exercises

**Errors Exercises, String stuff, List and Dictionary Comprehensions**

## Understanding errors

Each snippet of the following code crashes. Run the code, **scroll to the bottom** of the error message, and read it. Just above the error message, you will also find the line of code where the error occurred!

Try to fix the errors! **Don't** copy your code from the previous labs, but make **minor** changes to the code here.

Hints: 
- If you get a  `TypeError` mentioning `NoneType`, you likely forgot a `return` statement somewhere (and your function returns `None`).
- If you encounter a `RecursionError` (infinite recursion), you likely forgot the base case or are calling the function `f` with the same argument (e.g. `n` or `lst`) rather than a smaller element (e.g. `n-1` or `lst[1:]`).
- If you still can't find the error, sometimes it helps to add `print` statements to your function to see what the values of the variables are (don't forget to remove them at the end!). Or ask Ken how to use a debugger :)

### Question 1

Compute Fibonacci numbers:

In [4]:
def fibonacci(n):
    if n <= 1:
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)

print(fibonacci(4))

5

### Question 2

Computing $a^b$

In [2]:
def exp(a, b):
    if b == 0:
        return 1
    return exp(a, b-1) * a

print(exp(5, 2))

25

### Question 3

Compute all permutation using numbers from 0 to `n`.

In [6]:
def permutations(n):
    if n == 0:
        return [[0]]
    else:
        new_permutations = []
        for i in range(n+1):
            for per in permutations(n-1):
                new_permutation = per[:i] + [n] + per[i:]
                new_permutations.append(new_permutation)
        return new_permutations

permutations(2)

[[2, 1, 0], [2, 0, 1], [1, 2, 0], [0, 2, 1], [1, 0, 2], [0, 1, 2]]

### Question 4

Turn a string backwards

In [3]:
def reverse_string(message):
    if len(message) == 0:
        return ''
    return message[-1] + reverse_string(message[:-1])

print(reverse_string("Addis"))

siddA

### Question 5

Computing factorials

In [8]:
def factorial(n):
    if n == 1:
        return 1
    return n * factorial(n-1)

print(factorial(5))

120

### Question 6

Sum all numbers in a list

In [ ]:
def sumAll(lst):
    if len(lst) == 0:
        return 0
    else:
        lst[0] + sumAll(lst[1:])

sumAll([1, 2, 3, 4])

### Question 7

Computing the n-th Catalan number

In [ ]:
def catalan(n):
    if n == 0:
        return 1
    else:
            summ = 0
        for i in range(n):
            summ += catalan(i)*catalan(n-1-i)
        return summ

print(catalan(5))

## Part Zero: String stuff

### F-Strings, Split, Join

 F-Strings, which are also called formatted string literals, have a shorter syntax and can be super helpful in string formatting.

Normally strings in Python are enclosed within double quotes `("")` or single quotes `('')`. To create f-strings, you only need to add an f  or an F before the opening quotes of your string. 
- For example, `'Here'` is a string where as `f'Here'` is an f - string.

When using f-Strings to display variables, you only need to specify the names of the variables inside a set of curly braces {}. And at runtime, all variable names will be replaced with their respective values. 
- If you have multiple variables in the string, you need to enclose each of the variable names inside a set of curly braces.

- For example, 
```python
lang='python'
program = "AddisCoder"
print(f'I am learning {lang} in {program}.')

name = "I"
print(f"{name} love {program}!")
```

### Question 1:

Accept two numbers as inputs and then print the sum of the input numbers using f-string. You should print the numbers and their sum when you are printing. <br> <br> So, if the inputs are 1 and 2, you should print like: The sum of 1 and 2 is 3.

In [ ]:
# Your code here

### 1.2


```python
favoriteFoods = {'Tony': 'Hot pot',
                 'Akayou': 'Grilled fish',
                 'Biniyam': 'Raw meat',
                 'Alex': 'Fried chicken',
                 'Ken': 'Matcha ice cream',
                 'Helina': 'Tibs',
                 'Henok': 'Shiro',
                 'Noam': 'Hummus',
                 'Abraham': 'Dulet',
                 'Yeabsira': 'Misir wat',
                 'Yared': 'Kitfo',
                 'Hana': 'Doro wat',
                 'Menbere': 'Rice',
                 'Bontu': 'Shekla Tibs',
                 'Georg': 'Tegabino'}

ta = "Georg"
```

Given the above variables, use f strings and the varible `ta` to print the following: 

#### Georg's favorite dish is Tegabino

In [ ]:
# YOUR CODE HERE

### Split and join

The split method can be used to separte each word in a string. The syntax is like this:
```python
txt = "welcome to the world of programming"
x = txt.split()
```
Whereas using the join method you can connect or join each strings of a list or a tuple or a dictionary.
The syntax is like this:
```python
mylist = ["Alex", "Abraham", "Tony", "Hana", "Henok"]
mySeparator = "_"

x = mySeparator.join(mylist)
```

### Question 2:

#### 2.1

Define a string that contains a sentence. And split the words of the sentence using the split method.

In [9]:
# Your code here
txt = "welcome to the world of programming"
x = txt.split()
','.join(x)

'welcome,to,the,world,of,programming'

#### 2.2

Given the following list join the names of the TAs using `'*'` as a separtor. You should use the join method. <br>
`mylist = ["Ken", "Liya", "Yared", "Yabsira", "Noam", "Menbere", "Nati"]`

In [ ]:
# Your code here

## **Part One: List Comprehensions**

Note: You will learn about this in the afternoon lecture today. If you get here in the morning and don't know what to do, just go to `10_supp` instead.

**Example 1**

In [16]:

lst = []
for i in range(10):
    lst += [i]
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**Question 1**

Explain what the above code in **Example 1** does in plain English?

lst = [i for i in range(10)]
lst

In [14]:
# print  lst and check the output of Example 1
lst = [i for i in range(10)] 
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
lst = []
for i in range(10):
    lst.append(i)

In [ ]:
#print lst and check the output

**Question 2**

Use List Comprehensions to implement the code shown above to print a list of numbers 
from 0 to 9, inclusive of 0 and 9?

In [ ]:
# Write your code here and check if it does the job

**Example 2**

In [19]:
my_string = 'HelloWorld'
my_list = []

for letter in my_string:
    my_list.append(letter)
my_list

['H', 'e', 'l', 'l', 'o', 'W', 'o', 'r', 'l', 'd']

**Question 3**

Explain what the above code in **Example 2** does in plain English?

In [18]:
#print and check the output of the code in Example 2
my_string = 'HelloWorld'
my_list = [i for i in my_string]
my_list

['H', 'e', 'l', 'l', 'o', 'W', 'o', 'r', 'l', 'd']

**Question 4**

Use the code above in **Example 2** write a code that does the same thing using list Comprehension.

In [ ]:
#Write your code here

**Question 5**

Write a code that generate a list of squares of numbers from 0 to 10 using the following methods.

**a) Using any method**

In [21]:
# Write your code for method 'a' here
sqr = [i**2 for i in range(10)]
sqr

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

**b) Using List Comprehensions**

In [ ]:
# Write your code for method 'b' here

**Question 6**

Write a code that filter out only even numbers from a given list using the following two methods.

**a) Using any method**

In [23]:
# Given list
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even = [i for i in numbers if i%2==0]
even
# Write your code for method 'a' here

[2, 4, 6, 8, 10]

**b) Using List Comprehensions**

In [ ]:
# Given list
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Write your code for method 'b' here

## **Part Two: Dictionary Comprehensions**

**Example 1**

In [ ]:
square_dict = dict()
for num in range(1, 11):
    square_dict[num] = num*num

**Question 1**

Understand the code in **Example 1** and explain what it does in plain English.

**your answer here**

In [25]:
#print the code and check the output 
sqr = {i:i**2 for i in range(1, 11)}
sqr

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

**Question 2**

Rewrite the above code using Dictionary Comprehensions.

In [ ]:
#Write your code here

**Question 3**

Write a code that convert a lits of names into a dictionary where the names are keys and the length of their name are values using a dictionary comprehension.

In [26]:
#List of given names
names = ["Jelani", "Menbere", "Abraham", "Georg", "Liya"]
dic = {i:len(i) for i in names}
dic

{'Jelani': 6, 'Menbere': 7, 'Abraham': 7, 'Georg': 5, 'Liya': 4}

**Question 4**

Given a dictionary of students' name and their corresponding scores, create a new dictionary using dictionary comprehension with only students who passed (scored 60 or above).

In [28]:
# Given dictionary of students' names and scores
students_scores = {
    'Mukerem': 79,
    'Akayou': 55,
    'Natnael': 75,
    'Isaac': 92,
    'Biniyam': 40
}

# Write your code here
std = {key:students_scores[key] for key in students_scores if students_scores[key] > 60}
std

{'Mukerem': 79, 'Natnael': 75, 'Isaac': 92}

**Question 5**

Given a playlist with song titles and their respective play counts, use dictionary comprehension to find the most played and least played songs.

In [31]:
# Given playlist with song titles and play counts
playlist = {
    'Song 1': 100,
    'Song 2': 80,
    'Song 3': 120,
    'Song 4': 60,
    'Song 5': 90
}
song = {key: playlist[key] for key in playlist if playlist[key] == max(playlist.values()) or playlist[key] == min(playlist.values())}
song
#Write your code here

{'Song 3': 120, 'Song 4': 60}

**Question 6**

Write a code  Given a dictionary with temperatures in Celsius for different cities, use dictionary comprehension to convert the temperatures to Fahrenheit.

In [33]:
# Given dictionary with temperatures in Celsius for different cities
celsius_temperatures = {
    'Adama': 25,
    'Addis Ababa': 18,
    'Semera': 30,
    'Mekelle ': 28,
    'Hawassa': 35,
    'Gonder': 23
}
far = {i:(celsius_temperatures[i]* 9 / 5 + 32) for i in celsius_temperatures}
far

{'Adama': 77.0,
 'Addis Ababa': 64.4,
 'Semera': 86.0,
 'Mekelle ': 82.4,
 'Hawassa': 95.0,
 'Gonder': 73.4}