## Supplementary Exercises for Week 1 Day 4 Notebook A

## For-loops and Functions

### Exercise 0

Use for loop to print the following series:

`0, 1, 2, 3, ... 99`

In [2]:
# Write your code here
for i in range(0, 100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

### Exercise 1

Use for loop to print the following series:

`5, 7, 9, 11, ... 99`

In [3]:
# Write your code here
for i in range(3,100,2):
    print(i)

3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

### Exercise 2

Use for loop to print the above series in *reverse* order.

In [7]:
# Write your code here
for i in range(99,3,-2):
    print(i)

99
97
95
93
91
89
87
85
83
81
79
77
75
73
71
69
67
65
63
61
59
57
55
53
51
49
47
45
43
41
39
37
35
33
31
29
27
25
23
21
19
17
15
13
11
9
7
5

### Exercise 3

Find the sum of all the even numbers between `0` and `1000`. Use for loop.

In [9]:
# Write your code here
sum = 0
for i in range(0,100):
    sum += i
    
print(sum)

4950

### Exercise 4

Write a function to print all the divisors of a number using for loop.

In [14]:
def print_all_divisors(n):
    # Write your code here
    for i in range(1,n+1):
        if n % i == 0:
            print(i)
            
print_all_divisors(12)

1
2
3
4
6
12

### Exercise 5

Write a function that takes a `2D` list as a parameter and returns the sum of each element.

In [27]:
def print_sum(matrix):
    # write your code here
    # [[1,2,3], [5,6,4]] => 21
    sum = 0
    for i in matrix[0]:
        for j in matrix[1]:
            sum += i + j
            break
    print(sum)
    
print_sum([[1,2,3], [5,6,4]])

21

### Exercise 6

Write a function that finds the second largest number in a list using for loop?

In [9]:
# Write your code here
def second_largest(lst):
    lst = sorted(lst)
    return lst[-2]

second_largest([9,8,3,5,12,52])

12