# Lecture 6A: Review, Functions

AddisCoder 2023: Week 2

July 25, 2023

Taught by Alex Krentsel. Material based on past iterations of AddisCoder.

## Loops

### For loops

```
for element in list:
    code inside the loop
code outside the loop
```

Example: What will print in the code below?

In [2]:
for n in [1,2,3,4,5]:
    print(n)
print("daniel")
for w in [1,2,3]:
    print(w)
print("alex")

1
2
3
4
5
daniel
1
2
3
alex

In [3]:
for i in range(200,400):
    if i % 20 == 0:
        continue
    if i % 30 == 0:
        print(i)

210
270
330
390

In [6]:
print(range(200,400))

range(200, 400)

In [7]:
print(list(range(200,400)))

[200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399]

1. Print all the elements in the list of fruit using a **for loop** and **without using range**

In [ ]:
fruits = ['strawberry','apple','banana','apple','mango']

In [ ]:
# have students give one word at a time?
for fruit in fruits:
    print(fruit)

### Range

Range lets us iterate through numbers without building a list of those numbers

Range can take: 

one argument ```range(stop)```

two arguments ```range(start, stop)```

three arguments ```range(start, stop, skip)```

2. Use **range** to print numbers 0, 1, 2, . . . 10

In [ ]:
# do 10 first, and then 11
for i in range(11):
    print(i)

3. Use **range** to print numbers 0, 1, 2, 3, 4, . . . 20

In [ ]:
# do 20 first, then 21
for i in range(21):
    print i

3. Use **range** to print numbers 1, 2, 3, . . . 10

In [ ]:
# do 0,10, then 0,11, then 1,11
for i in range(1,11):
    print i

4. Use **range** to print numbers 0,2,4, . . . 20

In [ ]:
# do 0,20,2 first, then 21, then 22
for i in range(0,21,2):
    print(i)

5. Use **range** to print numbers 3,6,9,12,15,. . . 30

In [ ]:
# do 0,20,2 first, then 21, then 22
for i in range(3,31,3):
    print(i)

6. Write a function to print all the numbers from 0 to `n` using **range**. Write how you would test your code with at least 3 numbers

In [ ]:
def print_all(n):
    for i in range(n):
        print(i)

7. Write a function to print all the numbers from ```start``` to `stop` counting by `skip` using **range**. Write how you would test your code with at least 3 numbers

In [ ]:
def print_some(start,stop,skip):
    for i in range(start,stop,skip):
        print(i)

How can we use range to print all the elements in a list? What number should we put into the range for `stop`?

In [ ]:
fruits1 = ['strawberry','apple','banana','apple','mango']

In [ ]:
# first do 6, then do 5
# first do f, then fruits[f]
for f in range(5):
    print(fruits1[f])

In [ ]:
len(fruits1)

What if I add a fruit?

In [ ]:
fruits2 = ['strawberry','apple','banana','apple','mango', 'avocado']

In [ ]:
# first do 6, then do 5
# first do f, then fruits[f]
for f in range(6):
    print(fruits2[f])

In [ ]:
len(fruits2)

What if I add two fruit?

In [ ]:
fruits3 = ['strawberry','apple','banana','apple','mango', 'avocado', 'grape']

In [ ]:
for f in range(7):
    print(fruits3[f])

In [ ]:
len(fruits3)

5. What could I put instead so I don't have to change the number if I add more fruit?

In [ ]:
# start with print(i)
for i in range(len(fruits3)):
    print(fruits3[i])

6. Print all the fruit except the last fruit using range

In [ ]:
for i in range(len(fruits)-1):
    print(fruits[i])

7. **Write a function** to print all of the fruits except the last one using range. How would you test the code?

In [ ]:
def print_all_except_last(input_list):
    for i in range(len(input_list)-1):
        print(input_list[i])

In [ ]:
print_all_except_last(fruits1)

In [ ]:
print_all_except_last(fruits2)

In [ ]:
print_all_except_last(fruits3)

In [ ]:
vegetables = ['hamburger','pizza','firfir','tibs','sandwich','pasta']

8. Print all the foods at odd indicies using **range**

EX: pizza, tibs, pasta

In [ ]:
for i in range(1,len(vegetables),2):
    print(vegetables[i])

### Break

Break means "stop the loop, don't do anymore iterations -- even if we weren't done yet"

### Continue

Continue means "skip the rest of this iteration of the loop and start the next iteration"

In [ ]:
names = ['Hailey','Bre','Theresa','Stephen','Abraham','Nebiyu']

8. Print all the of the names except the last name using **break**.

EX: 'Hailey','Bre','Theresa','Stephen','Abraham'

In [ ]:
# why don't I need an 'else' here?
for i in range(len(names)):
    if names[i] == 'Nebiyu': # == 5, < 6, 
        break;
    print(names[i])

In [ ]:
for i in range(len(names)):
    if i > len(names) - 2: # == 5, < 6, 
        break;
    print(names[i])

9. Print all the of the names except the last two names using **break**.

EX: 'Hailey','Bre','Theresa','Stephen'

In [ ]:
# why don't I need an 'else' here?
for i in range(len(names)):
    if names[i] == 'Abraham': # == 5, < 6, 
        break;
    print(names[i])

In [ ]:
# why don't I need an 'else' here?
for i in range(len(names)):
    if i > len(names) - 3: # == 5, < 6, 
        break;
    print(names[i])

10. Print only the last name using **continue**

EX: Nebiyu

In [ ]:
# why don't I need an else here?
for i in range(len(names)):
    if names[i] != 'Nebiyu':
        continue;
    print(names[i])

In [ ]:
# why don't I need an else here?
for i in range(len(names)):
    if i < len(names) - 1:
        continue;
    print(names[i])

11. Print only the last two names using **continue**

EX: 
Abraham
Nebiyu

In [ ]:
for i in range(len(names)):
    if i < len(names) - 2:
        continue;
    print(names[i])

## While loops

```
while condition:
    code inside the loop
code outside the loop
```

If the condition is True, run the code in the while loop, and then start back at the beginning of the while loop.

If the condition is False, skip the code in the while loop.

In [ ]:
current_step = 0 # initialize counter
while current_step < 10: # condition
    print("clap "*current_step) # body
    current_step += 1 # increment counter

In [ ]:
cities=['addis abababa', 'boston', 'paris', 'cairo']

12. Print all the subjects using a **while loop**

In [ ]:
y=0
while y<len(cities):
    print(cities[y])
    y += 1

13. Print only ```addis ababa``` using a while loop

In [ ]:
#What if I only want to print math?
i=0
while i<len(cities): 
    print(cities[i]) 
    if i>0: #what is wrong?
        break
    i +=1 #What happens if I comment this out?

In [ ]:
#What if I only want to print math?
i=0
while i<len(cities): 
    print(cities[i]) 
    i +=1 
    if i>0: 
        break

13. Print only ```cairo``` using a while loop

In [ ]:
cities=['addis abababa', 'boston', 'paris', 'cairo']

In [ ]:
#What if I only want to print english?
i=0
while i<len(cities):
    if i==len(cities)-1:
        print(cities[i])
    i += 1

14. Print all the even numbers through 20 using a while loop. 

EX: 0, 2, 4, ... 20

In [ ]:
i = 0
while i < 21:
    if i % 2 == 0:
        print(i)
    i += 1

14. Print all the odd numbers through 20 using a while loop.

EX: 1,3,5, . . . 19

In [ ]:
i = 0 
while i < 21:
    if i % 2 != 0:
        print(i)
    i += 1

Write a function to print all the even numbers until n. Write how you would test your code with at least three numbers.

In [ ]:
def evens(n):
    i = 0
    while i < n:
        if i % 2 == 0:
            print(i)
        i += 1

In [ ]:
evens(3)

15. A Palindrome is a word that is the same backwards and forward (examples: 'aaa', 'aba', 'racecar', 'asdfdsa')

Write a function that takes a string and returns `True` if the string is a palindrome and `False` otherwise. You can solve this problem using a for loop, but please solve it here using a **while** loop

In [ ]:
#Note: you can also use a for loop
def isPalindrome(s):
    i = 0
    j = len(s)-1
    while i < j:
        if s[i] != s[j]:
            return False
        i += 1
        j -= 1
    return True

In [ ]:
isPalindrome('aaa')

In [ ]:
isPalindrome('racecar')

In [ ]:
isPalindrome('asdffdsa')

In [ ]:
isPalindrome('asdfdsa')

In [ ]:
isPalindrome('adsa')

In [ ]:
isPalindrome('a')

In [ ]:
 n jhujfor i in [1,2,3,4,5]:
    for j in [1,2,3,4,5]:
        print(i,j)

In [ ]:
for names in ['hailey','nebiyou','stephen']:
    for j in names:
        print(j)

In [ ]:
for i in range(5):
    store = ''
    for j in range(i):
        store += str(j)
    print(store)