# Exercises for day 2b

You will be working on a series of exercises for the material covered in lecture 2b.

We covered:
- What lists are
- Adding lists
- Multiplying lists
- Accessing lists/strings via indexing
- Slices
- Lengths
- Dictionaries

We will go through a series of exercises to reinfornce the concepts covered today

## Exercise 1.0 (Basic)

Use `len` function to find the lengths of a string `s = "hello"` and a list `lst  = [2 ,3, 45, "t5", "ew", 4]`

In [104]:
s = "hello"
lst  = [2 ,3, 45, "t5", "ew", 4]

In [105]:
len(s)

5

In [106]:
len(lst)

6

## Exercise 1.1 (Basic)

Which of the following options are the correct way to swap two elements `m` and `n`'s values.

For example, `m = 3` and `n = 2` initially, and after certain operations, `m = 2` and `n = 3`

A. 
$\newline m = 3
\newline n = 2
\newline m = n
\newline n = m$

B.
$\newline m = 3
\newline n = 2
\newline m = n
\newline temp = m
\newline n = temp$

C.
$\newline m = 3
\newline n = 2
\newline temp = n
\newline n = m
\newline m = temp$

D.
$\newline m = 3
\newline n = 2
\newline temp = m
\newline n = temp
\newline m = n$

Type your answer here:

C

## Exercise 2 (Basic)

Create one list containing the following:
The number `5731`, the string `"bye"`, and the boolean `True`

In [1]:
[5731, "bye", True]

[5731, 'bye', True]

## Exercise 3 (Easy)

First define two lists:
1. `[87, 109, 38]`
2. `["string1", "string2", "string3"]`

Assign them to two variables `list1`, `list2`

Add the two lists together to create a new list `list3`. Use `print(list3)` to print out `list3`. What happens when you switch the order of addition?

In [2]:
list1 = [87, 109, 38]
list2 = ["string1", "string2", "string3"]
list3 = list1 + list2
print(list3)

[87, 109, 38, 'string1', 'string2', 'string3']

## Exercise 4 (Easy)

Suppose `list1` is [1, 2, 3]. Use list multiplication to create a new list `list2`, which is [1, 2, 3, 1, 2, 3]. Use `print(list2)` to print out `list2`

In [3]:
list1 = [1, 2, 3]

In [4]:
list2 = list1 * 2
print(list2)

[1, 2, 3, 1, 2, 3]

## Exercise 5 (Basic)

Suppose that `lst = [2, 5, 2, 5, 9, 7]`, what is `lst[2]`?

In [5]:
lst = [2, 5, 2, 5, 9, 7]

Type your answer here:

## Exercise 6 (Medium)
Suppose that you are given a sorted list `lst = [0 ,2, 3, 5, 7, 21, 837, 3284, 23842934]`, what is the median of this list? Use `len(lst)` to find the length of this list.

In [6]:
lst = [0 ,2, 3, 5, 7, 21, 837, 3284, 23842934]

In [7]:
print(lst[len(lst) // 2])

7

## Exercise 7 (Basic)

Given a string `st = "addis coder"`, find the second to the last char.

In [8]:
st = "addis coder"

In [9]:
st[-2]

'e'

### 7.1

Change the second to the last char of the above `st` to `'i'`, and see if it is possible.

In [10]:
st[-1] = 'i'

TypeError: 'str' object does not support item assignment

## Exercise 8 (Easy)

Given a string `st = "ddkang"`, remove the first two letters of `st` to create a new string `str1`. Create a second string `str2` from `str1` so that `str2` is `"daniel kang"`

In [11]:
st = "ddkang"

In [12]:
str1 =  st[2:]
str2 = "daniel " + str1
print(str2)

daniel kang

## Exercise 9 (Medium)

Given a list `lst = [2 ,3 ,4 ,5, 6]` of odd length, print out the middle three numbers in a new list.

In [13]:
lst = [2 ,3 ,4 ,5, 6]

In [14]:
print(lst[len(lst) // 2 - 1 : len(lst) // 2 + 2])

[3, 4, 5]

## Exercise 10 (Basic)

Suppose that you have a dictionary `dic = {"Daniel": "San Fransisco", "Nati": "Addis Ababa", "Jelani": "Cambridge" }`. Find `"Jelani"`'s city.

In [15]:
dic = {"Daniel": "San Fransisco", "Nati": "Addis Ababa", "Jelani": "Cambridge" }

In [16]:
dic["Jelani"]

'Cambridge'

### 10.1

Suppose that you have a dictionary `dic = {"Daniel": "San Fransisco", "Nati": "Addis Ababa", "Jelani": "Cambridge" }`. Change `"Jelani"`'s city to  `"Berkeley"`.

In [17]:
dic = {"Daniel": "San Fransisco", "Nati": "Addis Ababa", "Jelani": "Cambridge" }

In [18]:
dic["Jelani"] = "Berkeley"

### 10.2

Print the length of `dic`.

In [19]:
print(len(dic))

3

### 10.3
Print the keys of `dic` as a list

In [20]:
print(list(dic.keys()))

['Daniel', 'Nati', 'Jelani']

## Exercise 11 (Basic)

Suppose you have a list of 3 numbers `lst = [1, 3, -4]`, and you want to negate the elements of the list to get `[-1, -3, 4]`. Create a new list containing the negated elements of `lst` (in such a way that your code works even if the values of the entries are different)!

In [21]:
lst = [1, 3, -4]

In [24]:
lst2 = [-lst[0], -lst[1], -lst[2]]
print(lst2)

[-1, -3, 4]

## Exercise 12 (Medium)

Suppose you have a nested list `lst = [["addis", 1, 3, ["coder"]], [237894, "ajhfoiah"]]`.
- What's the type of `lst[0]`?
- What's the value of `lst[0][0]`?
- Print out the element `"coder"` from this list.

Type your answer here: list

Type your answer here: "addis"

In [26]:
lst = [["addis", 1, 3, ["coder"]], [237894, "ajhfoiah"]]

In [27]:
print(lst[0][3][0])

coder

## Exercise 13 (Easy)

You can put lists inside of lists to create a matrix, like:


```
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
```

to represent

$$\begin{bmatrix}
1&2&3\\
4&5&6\\
7&8&9
\end{bmatrix}$$

How would you access the entry in the first row, first column (whose value is 1)?

Write your answer here: `matrix[0][0]`

How would you access the entry whose value is 8?

Write your answer here: `matrix[2][1]`

## Exercise 14 (Basic)

Use a while loop to print the numbers between `0` to `10` (inclusive on both ends).

In [28]:
i = 0
while i <= 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10

## Exercise 15 (Medium)

Let `n = 345323`. Write a code that checks if `n` is prime. Print `"n is prime"` if it is, or `"n is not prime"` otherwise.

In [29]:
n = 345323

In [30]:
i = 2
cnt = 0
while i < n:
    if n % i == 0:
        cnt += 1
    if cnt > 1:
        print("n is not prime")
        break
    i += 1
if cnt == 0: print("n is prime")

n is not prime

## Exercise 16 (Hard)

Write a while loop that prints out all the prime numbers between `2` and `100`.

In [31]:
n = 2
primes = []
while n <= 100:
    i = 0
    cnt = 0
    while i < len(primes):
        if n % primes[i] == 0:
            cnt += 1
        i += 1
    if cnt == 0:
        primes.append(n)
    n += 1
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

## Exercise 17 (Medium)

Abebe is a billionaire. As a billionaire he doesn't have much time to spend on reading things. He wants to look at his bank account and know how much money he has right away. Unfortunately, the bank's mobile app doesn't use commas to separate digits so we have to help him. Currently the bank's mobile applicaiton says he has `M = 1123456789`amount of money. Can you write a few lines of code to make the amount of money to look like `1,123,456,789`? 

Use `while` loop to make your code work for any positive amount of money (in other words, assume that `M > 0`).

Hint: when should your while loop stop?

In [32]:
M = 1123456789

In [33]:
st = ""
while M > 0:
    st = ("," + str(M % 1000)) + st
    M //= 1000
print(st[1:])

1,123,456,789

## Exercise 18 (Medium)

Suppose that you have `lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]`, reverse the list using a while loop.

In [34]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [35]:
i = 0
l = len(lst)
while i < l // 2:
    temp = lst[i]
    lst[i] = lst[l - i - 1]
    lst[l - i - 1] = temp
    i += 1
print(lst)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## Exercise 19 (Medium)

The Fibonnaci sequence is defined as follows: The first two elements in the sequence `f(0)` and `f(1)` are equal to `1`. For every `n>1`, the `n`-th element in the sequence is $$f(n)=f(n-1)+f(n-2).$$
Use a while loop to write a code that prints ous a list containing the first `15` numbers in the fibonnaci sequance.

In [36]:
lst = [1, 1]
i = 3
while i <= 15:
    fib = lst[-1]+lst[-2]
    lst.append(fib)
    i += 1
print(lst)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]

## Exercise 20 (Bubble Sort, Challenge)

Sorting a list is making the list goes from smallest number to the biggest one.

Bubble sort is a simple sorting procedure that repeatedly steps through the input list element by element, comparing the current element with the one after it, swapping their values if needed. 

Use this algorithm to sort `lst = [9, 8, 7, 6, 5, 4, 3, 2, 1]`

Hint: There are `len(lst)` number of passes, and in each pass we need to iterate through the list to compare every adjcent pair of elements.

In [38]:
lst = [9, 8, 7, 6, 5, 4, 3, 2, 1]

In [39]:
i = 0
l = len(lst)
while i < l:
    j = 0
    while j < l - 1:
        if lst[j] > lst[j + 1]:
            temp = lst[j]
            lst[j] = lst[j + 1]
            lst[j + 1] = temp
        j += 1
    i += 1
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## Exercise 21 (Medium)

You are given two **lists of strings** called ```names``` and ```cities```. The **first person** in ```names``` lives in the **last city** in ```cities```, the second person lives in the second to last city, the third lives in the third to last, and so on. Write code to create a third list called ```inOrder``` such that the even indexes (0, 2, 4, etc.) are the names of the people (in order) and that the odd indexes (1, 3, 5, etc.) are the cities. For a person in index $i$, their corresponding city should be in index $i+1$. 

For example:

```python
names = ["Daniel", "Nati", "Jelani"]
cities = ["Cambridge","Addis Ababa", "San Fransisco"]
```
In this case, 

    - Daniel lives in San Francisco
    - Nati lives in Addis Ababa
    - Jelani lives Cambridge
    
    
You should create the final list:
```python
inOrder = ["Daniel","San Fransisco", "Nati", "Addis Ababa", "Jelani", "Cambridge"]
```

In [43]:
names = ["Timnit", "Binam", "Basi"]
cities = ["Harar", "Addis Ababa", "Gondar"]

In [48]:
inOrder = []
i = 0
while i < len(names):
    inOrder.append(names[i])
    inOrder.append(cities[-i - 1])
    i += 1

print(inOrder)

['Timnit', 'Gondar', 'Binam', 'Addis Ababa', 'Basi', 'Harar']