# WEEK 1, Day 3 Afternoon Exercises
You will be working on a series of exercises for the material covered in lecture 3b.

We covered:

    For loops
    Functions
    Range
    Continue/break

We will go through a series of exercises to reinfornce the concepts covered today

## Question 1

### 1.1 

Print the integers from 0 - 10 using a `for` loop

In [2]:
## Write your code below
for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

### 1.2 

Print the integers from 0 - 10 using a `while` loop

In [4]:
## Write your code below
i = 0
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

### 1.3

Write a function that takes `x` as input and prints it

In [5]:
## Write your code below
def Input(x):
    print(x)

Input(12)

12

In [6]:
## Test your code here.

Input(12)

12

### 1.4

Write a function that takes `x` and prints every number between 0 and `x-1` using a `for` loop

In [9]:
## Write your code below
def loopPrinter(x):
    for i in range(0, x):
        print(i)
loopPrinter(10)

0
1
2
3
4
5
6
7
8
9

In [10]:
## Test your code here.
loopPrinter(10)

0
1
2
3
4
5
6
7
8
9

### 1.5

Write a function that takes `x` and prints every number between 0 and `x-1` using a `while` loop

In [12]:
## Write your code below
def printer(x):
    i = 0
    while i < x:
        print(i)
        i += 1

printer(2)

0
1

In [13]:
## Test your code here.
printer(2)

0
1

## Question 2

### 2.1 

Use code to verify that 4 is even

In [18]:
## Write your code below
def evenChecker(x):
    if x % 2 == 0:
        return ('EVEN!')
    else:
        return ('ODD :>')
evenChecker(5)

'ODD :>'

### 2.2 

Write a function that takes `x` and returns `True` if `x` is even

In [20]:
## Write your code below
def truthEvenChecker(x):
    if evenChecker(x) == "EVEN!":
        print("True")
        
truthEvenChecker(4)

True

In [21]:
## Test your code here.
truthEvenChecker(4)

True

### 2.3 

Write a function that takes `x` and prints odd number between 0 and `x-1` using a `for` loop

In [23]:
## Write your code below
def someFunction(x):
    for i in range(0, x):
        if not (i % 2 == 0):
            print(i)
            
someFunction(12)

1
3
5
7
9
11

In [24]:
## Test your code here.
someFunction(12)

1
3
5
7
9
11

### 2.4 

Write a function that takes `x` and prints every EVEN number between 0 and `x-1` using a `for` loop

In [25]:
## Write your code below
def someFunctionEven(x):
    for i in range(0, x):
        if (i % 2 == 0):
            print(i)
            
someFunctionEven(12)

0
2
4
6
8
10

In [26]:
## Test your code here.
someFunctionEven(12)

0
2
4
6
8
10

## 2.5 

Write a function that takes `x` and prints every EVEN number between 0 and `x-1` using a `while` loop

In [32]:
## Write your code below
def whileEven(x):
    i = 0
    while i < x:
        if (i % 2 == 0):
            print(i)
        i += 1

In [33]:
## Test your code here.
whileEven(12)

0
2
4
6
8
10

### 2.6 

Using `while True:`, print the integers from 0 - 10

In [34]:
## Write your code below
i = 0
while True:
    i += 1
    print(i)
    if i == 10:
        break

1
2
3
4
5
6
7
8
9
10

Note: If your code does not stop running and has an `[*]` on the left, it is in an infinite loop. To get out of this loop, in the top menu, select Kernel -> Interrupt, or press the black square button in the top menu bar.

### 2.7 

Write a function that takes `x` and prints every EVEN number between 0 and `x-1` using `while True:`

In [35]:
## Write your code below
def evenNumberWhile(x):
    i = 0
    while True:
        i += 1
        print(i)
        if i == x:
            break
evenNumberWhile(12)

1
2
3
4
5
6
7
8
9
10
11
12

In [ ]:
## Test your code here.
evenNumberWhile(12)

### 2.8 
Write a function that takes `x` and prints every EVEN number between 0 and `x-1` using a `for` loop, without **control flow** (i.e. no `if` statements)

In [36]:
def evenForLoop(x):
    for i in range(0,x,2):
        print(i)
evenForLoop(10)

0
2
4
6
8

In [37]:
## Test your code here.
evenForLoop(10)

0
2
4
6
8

## Question 3

### 3.1 

Print the integers from 0 - 100 that are divisible by 7 in decreasing order using a `for` loop.

In [40]:
# Your code goes here.
for i in range(0,100,7):
        print(i)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

### 3.2 
Print the integers from 0 - 100 that are divisible by 7 in decreasing order using a `while` loop.

In [42]:
# Your code goes here.
i = 0
while i < 100:
    if i % 7 == 0:
        print(i)
    i += 1

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

### 3.3 
Print the integers from 0 - 100 that are divisible by 7 in decreasing order using a `for` loop, but without using an if statement.

In [43]:
# Your code goes here.
for i in range(0,100,7):
        print(i)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

## Question 4

### 4.1 
DNA has 4 bases: Adenine (A), Thymine (T), Cytosine (C), Guanine (G). In the DNA, each base fits like a puzzle piece, with another base. So, Adenine will pair up with Thymine (A-T base pairing) and Cytosine will pair up with Guanine (C-G base pairing), and vice versa. DNA is double stranded, so if we look at one side side of the strand, we can figure out the other side that matches. For example:

- `ATACGTACGATCA` #this is the strand we know
- `TATGCATGCTAGT` #this is the _complement strand_, that we can figure out.

Just as an exercise, fill in the complement strand to the following strands manually: 

1.
Strand:     `ATCCGGGATCAA`
Complement: ?

TAGGCCTAGTT

2.
Strand:     `GGCCCCATTTTC`
Complement: ?

AATTTTGCCCCT

3.
Strand:     `TTACCAGGGGAT`
Complement: ?

CCGTTGAAAAGC

### 4.2 
Given a string `x` that contains only A, C, G, and T characters, write a function called `containsA` that returns `True` if the string contains an Adenine, expressed as an `'A'`.

In [46]:
def containsA(DNA):
    # Write your code here.
    for i in range(0, len(DNA)):
        if(DNA[i] == "A"):
            print("True")
            break
            
containsA("ATCCGGGATCAA")

True

In [ ]:
# Test your code here.
containsA("ATCCGGGATCAA")

### 4.3 
Given a string `x` that contains only A, C, G, and T characters, write a function called `complementStrand` that will return the complement DNA strand explained in 2.1.

In [56]:
def complement(DNA):
    # Write your code here.
    result = ''
    for i in DNA:
        if(i == "A"):
            result += "T"
        elif(i == "T"):
            result += "A"
        elif(i == "C"):
            result += "G"
        elif(i == "G"):
            result += "C"
    return (result)

In [57]:
# Here is a test case to check if your code works correctly.
print(complement('GATTACA'))  # Should be 'CTAATGT'
# Add your own test.

CTAATGT

## Question 5
_Execute all the following cells in order._

### 5.1 
Create a list called `vowels` that contains all the vowels from the English alphabet.

In [69]:
# Write your code here.
listAlpha = ["a","i","o","u","e"]
# for i in range(97, 124):
#     listAlpha.append(chr(i))

# listAlpha

### 5.2 
Create a variable called `my_letter` that has the value `"a"`.

In [64]:
# Write your code here.
my_letter = "a"

### 5.3 
Now, write a conditional expression that returns `True` when `my_letter` is equal to `"a"`.

In [65]:
# Write your code here.
if my_letter == "a":
    print("true")

true

### 5.4 
Write a function `printVowels` that iterates through `vowels` and prints each element.

In [66]:
def printVowels(vowels):
    for i in vowels:
        print(i)

In [70]:
# Test your code here.
printVowels(listAlpha)

a
i
o
u
e

### 5.5 
Now, write a function called `isVowel` that takes in a string `letter` and returns `True` if `letter` is a vowel and `False` otherwise. **Do this by looping through `vowels`.**

In [73]:
def isVowel(letter):   
    if(letter == "e"):
        return True
    elif(letter == "i"):
        return True
    elif(letter == "a"):
        return True
    elif(letter == "u"):
        return True
    elif(letter == "o"):
        return True
    
isVowel(my_letter)

True

In [74]:
# Test your code here.
isVowel(my_letter)

True

### 5.6 
Write a function `isVowel2` that does the same thing as $3.5$, but using only conditional expressions or boolean expressions.

In [76]:
def isVowel2(letter):   
    if(letter == "e"):
        return True
    elif(letter == "i"):
        return True
    elif(letter == "a"):
        return True
    elif(letter == "u"):
        return True
    elif(letter == "o"):
        return True
    
isVowel2(my_letter)

True

In [77]:
isVowel2(my_letter)

True

### 5.7 
Create a function called `isConsonant`, that returns `True` if the input is not a vowel, and `False` otherwise.

In [79]:
def isConsonant(letter):
    if (letter == "a") or (letter == "o") or (letter == "i") or (letter == "e") or (letter == "u"):
        return False
    else:
        return True

In [82]:
# Test your code here.
isConsonant(my_letter)

False

### 5.8 
Try running the code below. Does it do what you expect?

In [83]:
print(isConsonant("a"))
print(isConsonant("b"))
print(isConsonant("1"))
print(isConsonant("."))

False
True
True
True

### 5.9 
Rewrite `isConsonant` so that it also returns `False` when it is not part of the alphabet. 

_Hint: Use >, <, >=, and/or <= as string comparators to test if it's part of the alphabet._

In [86]:
def isConsonant(letter):
    if (letter == "a") or (letter == "o") or (letter == "i") or (letter == "e") or (letter == "u") or (letter < " "):
        return False
    else:
        return True
# Test your code here!
print(isConsonant("a"))
print(isConsonant("b"))
print(isConsonant("1"))
print(isConsonant("."))

False
True
True
True

## Question 6

### 6.1 
Write a function ``inTheList`` that takes in a list `lst` and a target element `t` that returns `True` if `t` is in `lst` and `False` otherwise. **Use a `for`-loop.**

In [93]:
def inTheList(lst, t):
    for i in range(0,len(lst)):
        if lst[i] == t:
            return True
    return False

In [96]:
# Test your code here.
inTheList("hey", "o")

False

### 6.2 
Write a function `overlaps` which takes in two lists, `lst1` and `lst2`, and returns `True` if any element of `lst1` is in `lst2` and `False` otherwise. **You must use `for`-loops.**

In [110]:
def overlaps(lst1, lst2):
    for i in range(0,len(lst1)):
        for j in range(0,len(lst2)):
            if lst1[i] == lst2[j]:
                return True
    return False

In [111]:
# Test your function here.
overlaps([1,2,3], [6,5,7])

False

### 6.3 
Write a function `intersection` which takes in two lists, `lst1` and `lst2`, and returns a list containing the all the elements present in both lists. **You must use `for`-loops.**

In [115]:
def intersection(lst1, lst2):
    lst = []
    for i in range(0,len(lst1)):
        for j in range(0,len(lst2)):
            if lst1[i] == lst2[j]:
                lst.append(lst1[i])
    return lst

In [116]:
# Test your function here. 
intersection([2,3,5,6], [2,6,7,3])

[2, 3, 6]

## Question 7

### 7.1

A **palindrome** is a word that is spelt the same forward as it is backwards. 

For each of the following strings, say whether they are palindromes (in words):

- "radar"
- "proper"
- "aibohphobia
- "123123"

*Fill this in.*

1. palindrome
2. Not palindrome...
3. palindrome
4. not palindrome

*Note:* A **palindrome** is a word that is spelt the same forward as it is backwards.
- Palindromes:
    - racecar
    - madam
    - 12321

### Question 7.2
Write a function that takes a string and returns `True` if the second and second to last characters of the string are the same and `False` otherwise.

In [117]:
## Write your code below
def palindrome(x):
    return x[0] == x[-1]

In [119]:
## Test your code here.

True

### Question 7.3
Write a function that takes a string and returns `True` if the string is a plaindrome. Use a `while` loop.

In [128]:
def isPalindrome(string):
    
    # Fill in your code here!
    for i in range(0, len(string)):
        if not (string[i] == string[(i + 1) * -1]):
            return ("False")
            break;
        else:
            return ("True")

In [129]:
## Test your code here.
isPalindrome("racecar")

'True'

## Question 8

### Question 8.1 
Write code that will print all the numbers between 0 and 20 that are not multiples of 3 using continue

In [133]:
## Write your code here
for i in range(0,21):
    if not (i % 3 == 0):
        print(i)

1
2
4
5
7
8
10
11
13
14
16
17
19
20

### 8.2

Try running the code below and see what happens (hint: you might need to use the stop button at the top of the page).

In [135]:
i = 0
while True:
    i += 1
    print(i)

### 8.3

Now, edit the code above to only print the numbers up to 20, using `break`.

In [136]:
# Copy in the code from 8.2 and edit it.
i = 0
while True:
    i += 1
    print(i)
    break;

1

### 8.4

Now, using `continue`, use the same code from 8.2 to print the numbers up to 20 that are not multiples of 3.

In [137]:
# Copy in the code from 8.2 and edit it.
i = 0
while True:
    i += 1
    print(i)
    if i == 20:
        break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

## Question 9

Write a `while` loop that displays the first fifty prime numbers.

In [143]:
n = 50 # Number of primes to display
number = 2 # First prime number

# Write your code here.    
def is_prime(n):
    i = 2
    flag = True
    while i <= ((n)**0.5):
        if (n % i == 0):
            flag = not flag
            break;
        else:
            i += 1
    return flag

for i in range(0, n + 1):
    if(is_prime(i)) and i >= 2:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

## Question 10

### 10.1 
Look at the function below. Without calling it, can you predict the outcomes of calling ```funkyFunc(100)```, ```funkyFunc(123456)```, and ```funkyFunc(420)```?

In [168]:
# Run this cell first.
def funkyFunc(x):
    z = x * 10
    x = x % 10
    z = z + x
    return z

funkyFunc(12) // 10

12

In [ ]:
# FILL IN YOUR ANSWERS FOR ??

# for x = 100,     funkyFunc(x) = ?? 1000
# for x = 123456,  funkyFunc(x) = ?? 1234566
# for x = 420,      funkyFunc(x) = ?? 4200

# Check your answers below with code:

### 10.2 
Can you write a function ```funkierFunc``` which takes one argument and for which the following equation is true for any $x>0$:
 
 ```funkierFunc ( funkyFunc(x) ) = x```

In [170]:
def funkierFunc(x):
    return (funkyFunc(x) // 10)  
    # Your code here.
    
funkierFunc(12124124)

12124124

In [ ]:
# Test your code here.

## Question 11

You are given the while loop below. Do NOT run it yet.


```
x, y, loops = 0, 21, 0

while y:
    loops += 1
    if x <= y:
        if x % 2 == 1:
            x, y = y, x
        elif x == 0:
            x += (2 ** 2)
        else:
            x = x + 3
            y = y // 2
    else:
    y = 0
   
```

What would `x` output? Do NOT check your answer until after going through the while loop manually. Write your answer below.

10

What would `loops` output? Do NOT check your answer until after going through the while loop manually. Write your answer below.

4

Try the code above to see if you are correct.

In [172]:
x, y, loops = 0, 21, 0

while y:
    loops += 1
    if x <= y:
        if x % 2 == 1:
            x, y = y, x
        elif x == 0:
            x += (2 ** 2)
        else:
            x = x + 3
            y = y // 2
    else:
        y = 0
print(x,y,loops)

10 0 4

## Question 12
Implement `ramp`, which takes a non-negative integer n and returns whether it has more increases
than decreases when reading its digits from left to right.  

For example, `ramp(12343)` would return `True` since there are 3 increases and 1 decrease when reading from left to right.

In [230]:
def ramp(n):
    """Return whether non-negative integer N has more increases than decreases"""
    digits = list(str(n))
    digits = list(map(lambda x: int(x), digits))
    
    countIncrease = 0
    countDecrease = 0
    
    for i in range(len(digits)):
        if not ((i + 1) >=len(digits)):
            if digits[i] > digits[i+1]:
                print(digits[i])
                countDecrease  += 1
            if digits[i] < digits[i+1]:
                countIncrease += 1
    if countIncrease > countDecrease:
        print(f"count increase {countIncrease}")
        print(f"count increase {countDecrease}")
        return True
    else: 
        print(f"count increase {countIncrease}")
        print(f"count increase {countDecrease}")
        return False

In [233]:
# Test your code here.


# digits = list(str(1234))
# digits = list(map(lambda x: int(x), digits))

# digits = []
# for d in digits:
#     digits.append(int(d))


ramp(1234321)

4
3
2
count increase 3
count increase 3

False

## Question 13
Implement `unique_largest`, which takes a positive integer n. It returns whether the largest digit
in n appears only once in n. You may assign values to multiple names in an assignment statement.
You may not write call expressions or parentheses. You may not write `if`, `max`, `set`, `and`, or `or`.

Example output:

`unique_largest(132123)` # 3 is largest and appears twice
False

`unique_largest(1321523)` # 5 is largest and appears only once
True

`unique_largest(5)`
True

In [254]:
def unique_largest(n):
    """Return whether the largest digit in n appears only once."""
    temp = n 
    for i in range(len(str(n))):
        x =  n % 10
        y = (n // 10 ** i) % 10 ** i
        temp = n // 10 ** i
        print(x,y,temp)
    return x,y,temp

def unique_largest(n):
    digits = list(map(int, str(n)))
    
    # Counting the digits
    table = [0] * 10
    for d in digits:
        table[d] += 1
    # 123123 -> [0, 2, 2, 2, 0, 0, 0, 0, 0, 0]
    # table[5] += 1
    
    # go through digits from large to small 
    for digit in range(9, -1, -1):
        while table[digit] > 0:
            while table[digit] == 1:
                return True
            return False
    return False


def unique_largest(n):
    digits = list(map(int, str(n)))
    digits = sorted(digits)
    
    # edge case with only single digit
    while len(digits) == 1:
        return True
    
    # just need to check the largest digit, and whether the previous one is the same 
    l = len(digits) - 1
    # while index > 0:
    while digits[l] == digits[l - 1]:
        return False
    return True


unique_largest(2)

True

In [246]:
# Test your code here
unique_largest(1234)

[0, 1, 1, 1, 1, 0, 0, 0, 0, 0]

## Question 14
Implement `same_digits`, which takes two positive integers. It returns whether they both become
the same number after replacing each sequence of a digit repeated consecutively with only one of that
digit. For example, in 12222321, the sequence 2222 would be replaced by only 2, leaving 12321.
Restriction: You may only write combinations of the following in the blanks: a, b, end, 10, %, if, while, and, or, ==, !=, True, False, and return. (No division allowed!).

Example outputs:

`same_digits(2002200, 2202000)` # Ignoring repeats, both are 2020

True

`same_digits(21, 12)` # Digits must appear in the same order

False

`same_digits(12, 2212)` # 12 and 212 are not the same

False

`same_digits(2020, 20)` # 2020 and 20 are not the same

False

In [ ]:
def same_digits(a, b):
    """Return whether a and b become the same number after removing adjacent repeats."""
    
    # TODO
    
    return a == b

## Question 15
Write a function `letter_freq` that takes in a string and returns a dictionary of the characters in the string as the keys and how many times they appear in the word as the values.  
For example `letter_freq("Addiscoder is superfun!")` should return `{"A":1 , "d":2 , "i":2 , "s":3 , "c":1 , "o":1 , "d":1 , "e":2 , "r":2 , " ":2 "u":2 , "p":1 , "f":1 , "n":1 , "!":1}`

In [ ]:
def letter_freq(str1):
    
    #TODO
    
    return

In [ ]:
##Test your code here.